body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.grid-square {
    aspect-ratio: 1;
    margin: 0;
    padding: 0;

}

.hover-active {
    background-color: #ccc;
}

#buttons {
    flex-direction: row;
}

#clear-btn {
    margin: 16px;
}

